{% load static %}

<!DOCTYPE html>

<html>

    <head>

        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'catalog/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'catalog/mycss.css' %}"/>

    </head>

    <body>

        <div class='container'>

            <h1>Welcome on the back market weather app</h1> 

        </div>

    {% if sent %} 

        <p> Please find the weather of {{ city }} in {{ country }} </p>
        <p> For today: </p>
            <ul>
                <li> The current temperature is {{current_temp}}°C </li>
                <li> The minimum temperature is {{min_temp}}°C</li>
                <li> The maximum temperature is {{max_temp}}°C </li>
                <li> The wind speed is {{wind_speed}} </li>
                <li> The humidity percentage is {{humidity}}% </li>

        <p> In three days: </p>
            <ul>
                <li> The minimum temperature will be {{min_temp_3}}°C</li>
                <li> The maximum temperature will be {{max_temp_3}}°C </li>
                <li> The wind speed will be {{wind_speed_3}} </li>
                <li> The humidity percentage will be {{humidity_3}}% </li>
            </ul>

    {% else %}

        <form action="{% url 'my_app:home' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}    
        <input type="submit" name="fill_content" value="Submit" />

    {% endif %}

    </body>

</html>